<?xml version="1.0" encoding="utf-8" ?>
<dataOperations dataSource="UploadStorageProvider" xmlns="CodeFactory.DataAccess">
	<dataCommands>
		<dataCommand name="GetFiles" type="Text">
			<commandText>
				<![CDATA[
				SELECT COUNT(id) totalCount
				FROM uploadedFiles
				WHERE 1 = 1
					AND id = @id
					AND parentId = @parentId
					AND filename = @filename
					AND dateCreated = @dateCreated
					AND lastUpdated = @lastUpdated
					AND contentType = @contentType;
				WITH Ordered(rowNumber, id) AS (
					SELECT ROW_NUMBER() OVER (ORDER BY dateCreated DESC), id
					FROM uploadedFiles
					WHERE 1 = 1
						AND id = @id
						AND parentId = @parentId
						AND filename = @filename
						AND dateCreated = @dateCreated
						AND lastUpdated = @lastUpdated
						AND contentType = @contentType
				)
				SELECT id
				FROM Ordered
				WHERE rowNumber BETWEEN @firstIndex AND @lastIndex;
				]]>
			</commandText>
			<replaceByParamValues>
				<replaceByParamValue paramName="id" paramValue="DBNull.Value">
					<oldString><![CDATA[AND id = @id]]></oldString>
					<newString></newString>
				</replaceByParamValue>
				<replaceByParamValue paramName="parentId" paramValue="DBNull.Value">
					<oldString><![CDATA[AND parentId = @parentId]]></oldString>
					<newString></newString>
				</replaceByParamValue>
				<replaceByParamValue paramName="filename" paramValue="">
					<oldString><![CDATA[AND filename = @filename]]></oldString>
					<newString></newString>
				</replaceByParamValue>
				<replaceByParamValue paramName="dateCreated" paramValue="DBNull.Value">
					<oldString><![CDATA[AND dateCreated = @dateCreated]]></oldString>
					<newString></newString>
				</replaceByParamValue>
				<replaceByParamValue paramName="lastUpdated" paramValue="DBNull.Value">
					<oldString><![CDATA[AND lastUpdated = @lastUpdated]]></oldString>
					<newString></newString>
				</replaceByParamValue>
				<replaceByParamValue paramName="contentType" paramValue="">
					<oldString><![CDATA[AND contentType = @contentType]]></oldString>
					<newString></newString>
				</replaceByParamValue>
			</replaceByParamValues>
			<parameters>
				<param key="id" name="@id" type="uniqueidentifier" direction="Input"/>
				<param key="parentId" name="@parentId" type="uniqueidentifier" direction="Input"/>
				<param key="filename" name="@filename" type="NVarChar" size="1024" direction="Input"/>
				<param key="dateCreated" name="@dateCreated" type="DateTime" direction="Input"/>
				<param key="lastUpdated" name="@lastUpdated" type="DateTime" direction="Input"/>
				<param key="contentType" name="@contentType" type="NVarChar" size="50" direction="Input"/>
				<param key="firstIndex" name="@firstIndex" type="Int" direction="Input"/>
				<param key="lastIndex" name="@lastIndex" type="Int" direction="Input"/>
			</parameters>
		</dataCommand>
	</dataCommands>
</dataOperations>





