<?xml version="1.0" encoding="utf-8" ?>
<dataOperations dataSource="PersonalizationProvider" xmlns="CodeFactory.DataAccess">
  <dataCommands>
    <dataCommand name="aspnet_PersonalizationAdministration_FindState" type="StoredProcedure">
      <commandText><![CDATA[dbo.aspnet_PersonalizationAdministration_FindState]]></commandText>
      <parameters>
        <param key="ReturnValue" name="@ReturnValue" type="int" direction ="ReturnValue"/>
        <param key="AllUsersScope" name="@AllUsersScope" type="Bit" direction="Input"/>
        <param key="ApplicationName" name="@ApplicationName" type="NVarChar" direction="Input"/>
        <param key="PageIndex" name="@PageIndex" type="int" direction="Input"/>
        <param key="PageSize" name="@PageSize" type="int" direction="Input"/>
        <param key="Path" name="@Path" type="NVarChar" direction="Input"/>
        <param key="UserName" name="@UserName" type="NVarChar" direction="Input"/>
        <param key="InactiveSinceDate" name="@InactiveSinceDate" type="DateTime" direction="Input"/>
      </parameters>
    </dataCommand>
    <dataCommand name="aspnet_PersonalizationAdministration_GetCountOfState" type="StoredProcedure">
      <commandText><![CDATA[dbo.aspnet_PersonalizationAdministration_GetCountOfState]]></commandText>
      <parameters>       
        <param key="Count" name="@Count" type="int" direction="Output"/>
        <param key="AllUsersScope" name="@AllUsersScope" type="Bit" direction="Input"/>
        <param key="ApplicationName" name="@ApplicationName" type="NVarChar" direction="Input"/>
        <param key="Path" name="@Path" type="NVarChar" direction="Input"/>
        <param key="UserName" name="@UserName" type="NVarChar" direction="Input"/>
        <param key="InactiveSinceDate" name="@InactiveSinceDate" type="DateTime" direction="Input"/>        
      </parameters>
    </dataCommand>
    <dataCommand name="aspnet_PersonalizationPerUser_GetPageSettings" type="StoredProcedure">
      <commandText><![CDATA[dbo.aspnet_PersonalizationPerUser_GetPageSettings]]></commandText>
      <parameters>        
        <param key="ApplicationName" name="@ApplicationName" type="NVarChar" direction="Input"/>
        <param key="UserName" name="@UserName" type="NVarChar" direction="Input"/>
        <param key="Path" name="@Path" type="NVarChar" direction="Input"/>
        <param key="CurrentTimeUtc" name="@CurrentTimeUtc" type="DateTime" direction="Input"/>        
      </parameters>
    </dataCommand>
    <dataCommand name="aspnet_PersonalizationAllUsers_GetPageSettings" type="StoredProcedure">
      <commandText><![CDATA[dbo.aspnet_PersonalizationAllUsers_GetPageSettings]]></commandText>
      <parameters>
        <param key="ApplicationName" name="@ApplicationName" type="NVarChar" direction="Input"/>       
        <param key="Path" name="@Path" type="NVarChar" direction="Input"/>       
      </parameters>
    </dataCommand>   
    <dataCommand name="aspnet_PersonalizationAdministration_DeleteAllState" type="StoredProcedure">
      <commandText><![CDATA[dbo.aspnet_PersonalizationAdministration_DeleteAllState]]></commandText>
      <parameters>        
        <param key="AllUsersScope" name="@AllUsersScope" type="Bit" direction="Input"/>
        <param key="ApplicationName" name="@ApplicationName" type="NVarChar" direction="Input"/>
        <param key="Count" name="@Count" type="int" direction="Output"/>       
      </parameters>
    </dataCommand>    
    <dataCommand name="aspnet_PersonalizationPerUser_ResetPageSettings" type="StoredProcedure">
      <commandText><![CDATA[dbo.aspnet_PersonalizationPerUser_ResetPageSettings]]></commandText>
      <parameters>        
        <param key="ApplicationName" name="@ApplicationName" type="NVarchar" direction="Input"/>
        <param key="UserName" name="@UserName" type="NVarChar" direction="Input"/>
        <param key="Path" name="@Path" type="Nvarchar" direction="Input"/>
        <param key="CurrentTimeUtc" name="@CurrentTimeUtc" type="DateTime" direction="Input"/>
      </parameters>
    </dataCommand>
    <dataCommand name="aspnet_PersonalizationAllUsers_ResetPageSettings" type="StoredProcedure">
      <commandText><![CDATA[dbo.aspnet_PersonalizationAllUsers_ResetPageSettings]]></commandText>
      <parameters>
        <param key="ApplicationName" name="@ApplicationName" type="NVarchar" direction="Input"/>        
        <param key="Path" name="@Path" type="Nvarchar" direction="Input"/>        
      </parameters>
    </dataCommand> 
    <dataCommand name="aspnet_PersonalizationAdministration_ResetSharedState" type="StoredProcedure">
      <commandText><![CDATA[dbo.aspnet_PersonalizationAdministration_ResetSharedState]]></commandText>
      <parameters>        
        <param key="Count" name="@Count" type="int" direction="Output"/>
        <param key="ApplicationName" name="@ApplicationName" type="NVarChar" direction="Input"/>
        <param key="Path" name="@Path" type="Nvarchar" direction="Input"/>
      </parameters>
    </dataCommand>
    <dataCommand name="aspnet_PersonalizationAdministration_ResetUserState" type="StoredProcedure">
      <commandText><![CDATA[dbo.aspnet_PersonalizationAdministration_ResetUserState]]></commandText>
      <parameters>
        <param key="Count" name="@Count" type="int" direction="Output"/>
        <param key="ApplicationName" name="@ApplicationName" type="NVarChar" direction="Input"/>
        <param key="InactiveSinceDate" name="@InactiveSinceDate" type="DAteTime" direction="Input"/>
        <param key="UserName" name="@UserName" type="NVarChar" direction="Input"/>
        <param key="Path" name="@Path" type="NVarChar" direction="Input"/>
      </parameters>
    </dataCommand>
    <dataCommand name="aspnet_PersonalizationPerUser_SetPageSettings" type="StoredProcedure">
      <commandText><![CDATA[dbo.aspnet_PersonalizationPerUser_SetPageSettings]]></commandText>
      <parameters>
        <param key="ApplicationName" name="@ApplicationName" type="NVarChar" direction ="Input"/>
        <param key="UserName" name="@UserName" type="NVarChar" direction="Input"/>
        <param key="Path" name="@Path" type="NVarChar" direction="Input"/>
        <param key="PageSettings" name="@PageSettings" type="Image" direction="Input"/>
        <param key="CurrentTimeUtc" name="@CurrentTimeUtc" type="DateTime" direction="Input"/>
      </parameters>
    </dataCommand>
    <dataCommand name="aspnet_PersonalizationAllUsers_SetPageSettings" type="StoredProcedure">
      <commandText><![CDATA[dbo.aspnet_PersonalizationAllUsers_SetPageSettings]]></commandText>
      <parameters>
        <param key="ApplicationName" name="@ApplicationName" type="NVarChar" direction ="Input"/>        
        <param key="Path" name="@Path" type="NVarChar" direction="Input"/>
        <param key="PageSettings" name="@PageSettings" type="Image" direction="Input"/>
        <param key="CurrentTimeUtc" name="@CurrentTimeUtc" type="DateTime" direction="Input"/>
      </parameters>
    </dataCommand>
  </dataCommands>
</dataOperations>
