<?xml version="1.0" encoding="utf-8" ?>
<dataOperations dataSource="DbGalleryProvider" xmlns="CodeFactory.DataAccess">
  <dataCommands>
    <dataCommand name="GetGalleries" type="StoredProcedure">
      <commandText>
        <![CDATA[GalleryManagement_GetGalleries]]>
      </commandText>
      <parameters>
        <param key="applicationName" name="@applicationName" type="NVarChar" size="512" direction="Input"/>
        <param key="id" name="@id" type="uniqueidentifier" direction="Input" isNullable="true"/>
        <param key="author" name="@author" type="NVarChar" size="512" direction="Input" isNullable="true"/>
        <param key="initialDateCreated" name="@initialDateCreated" type="DateTime" direction="Input" isNullable="true"/>
        <param key="finalDateCreated" name="@finalDateCreated" type="DateTime" direction="Input" isNullable="true"/>
        <param key="description" name="@description" type="NVarChar" size="512" direction="Input" isNullable="true"/>
        <param key="isVisible" name="@isVisible" type="Bit" direction="Input" isNullable="true"/>
        <param key="keywords" name="@keywords" type="NVarChar" size="1024" direction="Input" isNullable="true"/>
        <param key="initialLastUpdated" name="@initialLastUpdated" type="DateTime" direction="Input" isNullable="true"/>
        <param key="finalLastUpdated" name="@finalLastUpdated" type="DateTime" direction="Input" isNullable="true"/>
        <param key="lastUpdatedBy" name="@lastUpdatedBy" type="NVarChar" size="512" direction="Input" isNullable="true"/>
        <param key="slug" name="@slug" type="NVarChar" size="512" direction="Input" isNullable="true"/>
        <param key="title" name="@title" type="NVarChar" size="512" direction="Input" isNullable="true"/>
        <param key="status" name="@status" type="NVarChar" size="50" direction="Input" isNullable="true"/>
        <param key="firstIndex" name="@firstIndex" type="Int" direction="Input"/>
        <param key="lastIndex" name="@lastIndex" type="Int" direction="Input"/>
        <param key="totalCount" name="@totalCount" type="Int" direction="Output"/>
      </parameters>
    </dataCommand>
    <dataCommand name="SelectGallery" type="Text">
      <commandText>
        <![CDATA[
				SELECT applicationName, id, author, [content], dateCreated, description, isVisible, keywords, lastUpdated,
          lastUpdatedBy, slug, title, status
				FROM  Galleries
				WHERE applicationName = @applicationName
          AND id = @id
				]]>
      </commandText>
      <parameters>
        <param key="applicationName" name="@applicationName" type="NVarChar" size="512" direction="Input"/>
        <param key="id" name="@id" type="uniqueidentifier" direction="Input"/>
      </parameters>
    </dataCommand>
    <dataCommand name="UpdateGallery" type="Text">
      <commandText>
        <![CDATA[
				UPDATE Galleries
				SET author = @author, [content] = @content, dateCreated = @dateCreated, description = @description,
          isVisible = @isVisible, keywords = @keywords, lastUpdated = @lastUpdated, lastUpdatedBy = @lastUpdatedBy, 
          slug = @slug, title = @title, status = @status
				WHERE applicationName = @applicationName
          AND id = @id
				]]>
      </commandText>
      <parameters>
        <param key="applicationName" name="@applicationName" type="NVarChar" size="512" direction="Input"/>
        <param key="id" name="@id" type="uniqueidentifier" direction="Input"/>
        <param key="author" name="@author" type="NVarChar" size="512" direction="Input"/>
        <param key="content" name="@content" type="NVarChar" size="1024" direction="Input" isNullable="true"/>
        <param key="dateCreated" name="@dateCreated" type="DateTime" direction="Input"/>
        <param key="description" name="@description" type="NVarChar" size="512" direction="Input" isNullable="true"/>
        <param key="isVisible" name="@isVisible" type="Bit" direction="Input"/>
        <param key="keywords" name="@keywords" type="NVarChar" size="1024" direction="Input" isNullable="true"/>
        <param key="lastUpdated" name="@lastUpdated" type="DateTime" direction="Input" isNullable="true"/>
        <param key="lastUpdatedBy" name="@lastUpdatedBy" type="NVarChar" size="512" direction="Input" isNullable="true"/>
        <param key="slug" name="@slug" type="NVarChar" size="512" direction="Input" isNullable="true"/>
        <param key="title" name="@title" type="NVarChar" size="512" direction="Input"/>
        <param key="status" name="@status" type="NVarChar" size="50" direction="Input"/>
      </parameters>
    </dataCommand>
    <dataCommand name="InsertGallery" type="Text">
      <commandText>
        <![CDATA[
				INSERT INTO Galleries
					(applicationName, id, author, [content], dateCreated, description, isVisible, keywords, lastUpdated, 
            lastUpdatedBy, slug, title, status)
				VALUES 
					(@applicationName, @id, @author, @content, @dateCreated, @description, @isVisible, @keywords, @lastUpdated, 
            @lastUpdatedBy, @slug, @title, @status)
				]]>
      </commandText>
      <parameters>
        <param key="applicationName" name="@applicationName" type="NVarChar" size="512" direction="Input"/>
        <param key="id" name="@id" type="uniqueidentifier" direction="Input"/>
        <param key="author" name="@author" type="NVarChar" size="512" direction="Input"/>
        <param key="content" name="@content" type="NVarChar" size="1024" direction="Input" isNullable="true"/>
        <param key="dateCreated" name="@dateCreated" type="DateTime" direction="Input"/>
        <param key="description" name="@description" type="NVarChar" size="512" direction="Input" isNullable="true"/>
        <param key="isVisible" name="@isVisible" type="Bit" direction="Input"/>
        <param key="keywords" name="@keywords" type="NVarChar" size="1024" direction="Input" isNullable="true"/>
        <param key="lastUpdated" name="@lastUpdated" type="DateTime" direction="Input" isNullable="true"/>
        <param key="lastUpdatedBy" name="@lastUpdatedBy" type="NVarChar" size="512" direction="Input" isNullable="true"/>
        <param key="slug" name="@slug" type="NVarChar" size="512" direction="Input" isNullable="true"/>
        <param key="title" name="@title" type="NVarChar" size="512" direction="Input"/>
        <param key="status" name="@status" type="NVarChar" size="50" direction="Input"/>
      </parameters>
    </dataCommand>
    <dataCommand name="DeleteGallery" type="Text">
      <commandText>
        <![CDATA[
				DELETE Galleries
				WHERE applicationName = @applicationName
          AND id = @id
				]]>
      </commandText>
      <parameters>
        <param key="applicationName" name="@applicationName" type="NVarChar" size="512" direction="Input"/>
        <param key="id" name="@id" type="uniqueidentifier" direction="Input"/>
      </parameters>
    </dataCommand>
    <dataCommand name="DeleteComments" type="Text">
      <commandText>
        <![CDATA[
				DELETE GalleryComments
				WHERE galleryId = @galleryId
				]]>
      </commandText>
      <parameters>
        <param key="galleryId" name="@galleryId" type="uniqueidentifier" direction="Input"/>
      </parameters>
    </dataCommand>
    <dataCommand name="InsertComment" type="Text">
      <commandText>
        <![CDATA[
				INSERT INTO GalleryComments
				(galleryId, id, author, content, dateCreated, title, ipAddress)
				VALUES (@galleryId, @id, @author, @content, @dateCreated, @title, @ipAddress)
				]]>
      </commandText>
      <parameters>
        <param key="galleryId" name="@galleryId" type="uniqueidentifier" direction="Input"/>
        <param key="id" name="@id" type="uniqueidentifier" direction="Input"/>
        <param key="author" name="@author" type="NVarChar" size="80" direction="Input"/>
        <param key="content" name="@content" type="NVarChar" size="1024" direction="Input"/>
        <param key="dateCreated" name="@dateCreated" type="DateTime" direction="Input"/>
        <param key="title" name="@title" type="NVarChar" size="100" direction="Input"/>
        <param key="ipAddress" name="@ipAddress" type="NVarChar" size="50" direction="Input"/>
      </parameters>
    </dataCommand>
    <dataCommand name="GetComments" type="Text">
      <commandText>
        <![CDATA[
				SELECT galleryId, id, author, content, dateCreated, title, ipAddress
				FROM GalleryComments
				WHERE galleryId = @galleryId
				ORDER BY dateCreated DESC
				]]>
      </commandText>
      <parameters>
        <param key="galleryId" name="@galleryId" type="uniqueidentifier" direction="Input"/>
      </parameters>
    </dataCommand>
    <dataCommand name="DeleteUsers" type="Text">
      <commandText>
        <![CDATA[
				DELETE GalleryUsers
				WHERE galleryId = @galleryId
				]]>
      </commandText>
      <parameters>
        <param key="galleryId" name="@galleryId" type="uniqueidentifier" direction="Input"/>
      </parameters>
    </dataCommand>
    <dataCommand name="UpdateUsers" type="Text">
      <commandText>
        <![CDATA[
				INSERT INTO GalleryUsers
  				(galleryId, userId) 
				VALUES (@galleryId, @userId)
				]]>
      </commandText>
      <parameters>
        <param key="galleryId" name="@galleryId" type="uniqueidentifier" direction="Input"/>
        <param key="userId" name="@userId" type="NVarChar" size="50" direction="Input"/>
      </parameters>
    </dataCommand>
    <dataCommand name="GetUsers" type="Text">
      <commandText>
        <![CDATA[
				SELECT galleryId, userId
        FROM GalleryUsers
				WHERE galleryId = @galleryId
        ORDER BY userId
				]]>
      </commandText>
      <parameters>
        <param key="galleryId" name="@galleryId" type="uniqueidentifier" direction="Input"/>
      </parameters>
    </dataCommand>
  </dataCommands>
</dataOperations>





