<?xml version="1.0" encoding="utf-8" ?> 
<dataOperations dataSource="UploadStorageProvider" xmlns="CodeFactory.DataAccess">
	<dataCommands>
		<dataCommand name="GetFiles" type="Text">
			<commandText>
				<![CDATA[
				DELETE projectFiles
				WHERE projectId = '00000000-0000-0000-0000-000000000000'
					AND dateCreated < GETDATE() - '0:30'
				SELECT fileId
				FROM ProjectFiles
				WHERE projectId = @projectId
				]]>
			</commandText>
			<parameters>
				<param key="projectId" name="@projectId" type="uniqueidentifier" direction="Input"/>
			</parameters>
		</dataCommand>
		<dataCommand name="SelectFile" type="Text">
			<commandText>
				<![CDATA[
				DELETE projectFiles
				WHERE projectId = '00000000-0000-0000-0000-000000000000'
					AND dateCreated < GETDATE() - '0:30'
				SELECT fileName, contentType, contentLength, 
					data, 
					dateCreated, dateModified, description
				FROM ProjectFiles
				WHERE fileId = @fileId
				]]>
			</commandText>
			<replaceByParamValues>
				<replaceByParamValue paramName="includeData" paramValue="true">
					<oldString><![CDATA[data,]]></oldString>
					<newString></newString>
				</replaceByParamValue>
			</replaceByParamValues>
			<parameters>
				<param key="fileId" name="@fileId" type="uniqueidentifier" direction="Input"/>
				<param key="includeData" name="@includeData" type="VarChar" size="3" direction="Input"/>
			</parameters>
		</dataCommand>
		<dataCommand name="InsertFile" type="Text">
			<commandText>
				<![CDATA[
				DELETE projectFiles
				WHERE projectId = '00000000-0000-0000-0000-000000000000'
					AND dateCreated < GETDATE() - '0:30'
				INSERT INTO ProjectFiles
					(projectId, fileId, fileName, contentType, contentLength, data, dateCreated, description)
				VALUES
					(@projectId, @fileId, @fileName, @contentType, @contentLength, @data, @dateCreated, @description)
				]]>
			</commandText>
			<parameters>
				<param key="projectId" name="@projectId" type="uniqueidentifier" direction="Input"/>
				<param key="fileId" name="@fileId" type="uniqueidentifier" direction="Input"/>
				<param key="fileName" name="@fileName" type="VarChar" size="1024" direction="Input"/>
				<param key="contentType" name="@contentType" type="VarChar" size="50" direction="Input"/>
				<param key="contentLength" name="@contentLength" type="Int" direction="Input"/>
				<param key="data" name="@data" type="VarBinary" size="26214400" direction="Input"/>
				<param key="dateCreated" name="@dateCreated" type="DateTime" direction="Input"/>
				<param key="description" name="@description" type="VarChar" size="512" direction="Input" isNullable="true"/>
			</parameters>
		</dataCommand>
		<dataCommand name="UpdateFile" type="Text">
			<commandText>
				<![CDATA[
				DELETE projectFiles
				WHERE projectId = '00000000-0000-0000-0000-000000000000'
					AND dateCreated < GETDATE() - '0:30'
				UPDATE ProjectFiles
				SET projectId = @projectId, fileName = @fileName, dateModified = @dateModified,
					description = @description
				WHERE fileId = @fileId
				]]>
			</commandText>
			<parameters>
				<param key="projectId" name="@projectId" type="uniqueidentifier" direction="Input"/>
				<param key="fileId" name="@fileId" type="uniqueidentifier" direction="Input"/>
				<param key="fileName" name="@fileName" type="VarChar" size="1024" direction="Input"/>
				<param key="dateModified" name="@dateModified" type="DateTime" direction="Input" isNullable="true"/>
				<param key="description" name="@description" type="VarChar" size="512" direction="Input" isNullable="true"/>
			</parameters>
		</dataCommand>
		<dataCommand name="DeleteFile" type="Text">
			<commandText>
				<![CDATA[
				DELETE projectFiles
				WHERE projectId = '00000000-0000-0000-0000-000000000000'
					AND dateCreated < GETDATE() - '0:30'
				DELETE ProjectFiles
				WHERE fileId = @fileId
				]]>
			</commandText>
			<parameters>
				<param key="fileId" name="@fileId" type="uniqueidentifier" direction="Input"/>
			</parameters>
		</dataCommand>
	</dataCommands>
</dataOperations>





