<?xml version="1.0" encoding="utf-8" ?>
<dataOperations dataSource="StatisticsTrace" xmlns="CodeFactory.DataAccess">
  <dataCommands>
    <dataCommand name="TraceData" type="Text">
      <commandText>
        <![CDATA[
        INSERT INTO [statistics] (timestamp, title, urlRequested, id, type, username, applicationName)
        VALUES (@timestamp, @title, @urlRequested, @id, @type, @username, @applicationName)
        ]]>
      </commandText>
      <parameters>
        <param key="timestamp" name="@timestamp" type="DateTime" direction="Input"/>
        <param key="title" name="@title" type="VarChar" size="512" direction="Input"/>
        <param key="urlRequested" name="@urlRequested" type="VarChar" size="1024" direction="Input"/>
        <param key="username" name="@username" type="VarChar" size="512" direction="Input"/>
        <param key="id" name="@id" type="UniqueIdentifier" direction="Input"/>
        <param key="type" name="@type" type="VarChar" size="512" direction="Input"/>
        <param key="applicationName" name="@applicationName" type="VarChar" size="512" direction="Input"/>
      </parameters>
    </dataCommand>
    <dataCommand name="ConsultaReporteEstadistico" type="StoredProcedure">
      <commandText>ReporteEstadistico</commandText>
      <parameters>
        <param key="fechaInicio" name="@fechaInicio" type="DateTime" direction="Input" />
        <param key="fechaFin" name="@fechaFin" type="DateTime" direction="Input" />
        <param key="timestamp" name="@timestamp" type="DateTime" direction="Input"/>
        <param key="urlRequested" name="@urlRequested" type="VarChar" size="1024" direction="Input"/>
        <param key="username" name="@username" type="VarChar" size="512" direction="Input"/>
        <param key="id" name="@id" type="UniqueIdentifier" direction="Input"/>
        <param key="type" name="@type" type="VarChar" size="512" direction="Input"/>
        <param key="applicationName" name="@applicationName" type="VarChar" size="512" direction="Input"/>
        <param key="firstIndex" name="@firstIndex" type="Int" direction="Input" />
        <param key="lastIndex" name="@lastIndex" type="Int" direction="Input" />
        <param key="totalCount" name="@totalCount" type="Int" direction="Output" />
      </parameters>
    </dataCommand>
  </dataCommands>
</dataOperations>
