/****** Object:  Table [dbo].[UploadedFiles]    Script Date: 10/19/2009 21:51:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UploadedFiles]') AND type in (N'U'))
DROP TABLE [dbo].[UploadedFiles]
GO
/****** Object:  Table [dbo].[UploadedFiles]    Script Date: 10/19/2009 21:51:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UploadedFiles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UploadedFiles](
	[ApplicationName] [nvarchar](512) NOT NULL,
	[ID] [uniqueidentifier] NOT NULL,
	[ContentLength] [int] NOT NULL,
	[ContentType] [nvarchar](50) NOT NULL,
	[Data] [varbinary](max) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Description] [nvarchar](1024) NULL,
	[FileName] [nvarchar](1024) NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
	[ParentId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UploadedFiles] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Trigger [dbo].[UploadedFiles_Version]    Script Date: 10/19/2009 21:51:30 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[UploadedFiles_Version]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER UploadedFiles_Version
ON dbo.UploadedFiles
AFTER UPDATE
AS
BEGIN
	UPDATE dbo.UploadedFiles
	SET LastUpdated = GETDATE()
	WHERE ID in (
		SELECT ID
		FROM inserted
	);
END;
' 
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_UploadedFiles_DateCreated]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UploadedFiles] ADD  CONSTRAINT [DF_UploadedFiles_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_UploadedFiles_LastUpdated]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[UploadedFiles] ADD  CONSTRAINT [DF_UploadedFiles_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
END

GO
