/****** Object:  StoredProcedure [dbo].[GetRandomWiki]    Script Date: 11/26/2009 15:30:57 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetRandomWiki]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetRandomWiki]
GO
/****** Object:  StoredProcedure [dbo].[GetRandomWiki]    Script Date: 11/26/2009 15:30:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetRandomWiki]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE dbo.GetRandomWiki
	@applicationName VARCHAR(512)
AS
---- Create the variables for the random number generation
	DECLARE @random INT;
	DECLARE @upper INT;
	DECLARE @lower INT;

	---- This will create a random number between 1 and 999
	SET @lower = 1					---- The lowest random number
	SELECT @upper = COUNT(id) + 1	---- The highest random number
	FROM wikis
	WHERE applicationName = @applicationName
		AND isVisible = 1;

	SET @random = ROUND(((@upper - @lower -1) * RAND() + @lower), 0);

	WITH Ordered(rowNumber, id) AS (
		SELECT ROW_NUMBER() OVER (ORDER BY lastUpdated DESC), id
		FROM wikis
		WHERE applicationName = @applicationName
		AND isVisible = 1
	)
	SELECT id
	FROM Ordered
	WHERE rowNumber = @random;' 
END
GO
