/****** Object:  Table [dbo].[WikiCategories]    Script Date: 11/17/2009 11:10:54 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WikiCategories]') AND type in (N'U'))
DROP TABLE [dbo].[WikiCategories]
GO
/****** Object:  Table [dbo].[WikiCategories]    Script Date: 11/17/2009 11:10:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WikiCategories]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WikiCategories](
	[CategoryName] [varchar](50) NOT NULL,
	[ApplicationName] [varchar](512) NOT NULL,
 CONSTRAINT [PK_WikiCategories] PRIMARY KEY CLUSTERED 
(
	[CategoryName] ASC,
	[ApplicationName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
