/****** Object:  StoredProcedure [dbo].[TagCloud]    Script Date: 11/26/2009 12:09:38 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TagCloud]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[TagCloud]
GO
/****** Object:  StoredProcedure [dbo].[TagCloud]    Script Date: 11/26/2009 12:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TagCloud]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE procedure [dbo].[TagCloud]
	@applicationName varchar(512)
as

declare @title varchar(256), @keywords varchar(1024), @hits int, @keyword varchar(900),
 @index int, @exists int

set nocount on

-- Begin the transaction
begin transaction

create table #reporteConsultas(fecha datetime, title VarChar(512), urlRequested VarChar(1024),
	id uniqueIdentifier, type VarChar(512), username VarChar(512), hits int)

create table #keywords(keyword varchar(900), hits int,
	constraint pk_keywords primary key clustered
	(keyword asc) with (ignore_dup_key = off) on [primary]) on [primary]

insert #reporteConsultas exec dbo.ReporteEstadistico @fechaInicio = null, @fechaFin = null,
	@title = null, @urlRequested = null, @id = null, @type = null, @username = null, 
	@applicationName = @applicationName, @firstIndex = 0, @lastIndex = 2147483647, @totalCount = null

declare keywords cursor fast_forward for
select w.title, w.keywords, sum(isnull(r.hits, 0)) hits
from wikis w
	left join #reporteConsultas r on r.title collate Modern_Spanish_CI_AI = w.title
where w.applicationName = @applicationName
	and w.isVisible = 1
group by w.title, w.keywords
order by hits desc

open keywords;

fetch next from keywords
into @title, @keywords, @hits

while @@fetch_status = 0
begin
	set @keyword = null
	set @exists = 0

	while not @keywords is null
	begin
		set @index = patindex(''%;%'', @keywords)

		if @index > 0
			set @keyword = ltrim(substring(@keywords, 0, @index))
		else
			set @keyword = ltrim(@keywords)

		if len(ltrim(@keywords)) > @index + 1 and @keyword <> @keywords
			set @keywords = ltrim(substring(@keywords, @index + 1, len(@keywords)))
		else
			set @keywords = null

		if not @keyword is null 
			select @exists = count(keyword)
			from #keywords
			where keyword = @keyword

		if not @keyword is null and @exists = 0
			insert into #keywords (keyword, hits) values (@keyword, @hits)
	end

	fetch next from keywords
	into @title, @keywords, @hits
end

close keywords;
deallocate keywords;

select keyword, hits
from (
	select top 100 keyword, hits
	from #keywords
	order by hits desc, keyword asc
) ordered
order by keyword asc;

drop table #keywords

drop table #reporteConsultas

-- Commit the Transaction
commit transaction

set nocount off





' 
END
GO
