/****** Object:  Table [dbo].[Wikis]    Script Date: 11/17/2009 11:10:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Wikis]') AND type in (N'U'))
DROP TABLE [dbo].[Wikis]
GO
/****** Object:  Table [dbo].[Wikis]    Script Date: 11/17/2009 11:10:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Wikis]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Wikis](
	[id] [uniqueidentifier] NOT NULL,
	[title] [varchar](256) NOT NULL,
	[description] [varchar](1024) NULL,
	[content] [varchar](max) NOT NULL,
	[author] [varchar](50) NOT NULL,
	[isVisible] [bit] NOT NULL,
	[slug] [varchar](128) NULL,
	[category] [varchar](50) NOT NULL,
	[keywords] [varchar](1024) NULL,
	[dateCreated] [datetime] NOT NULL,
	[lastUpdated] [datetime] NULL,
	[lastUpdatedBy] [varchar](50) NULL,
	[reachLevel] [int] NOT NULL,
	[editable] [bit] NOT NULL,
	[editor] [varchar](50) NULL,
	[departmentArea] [varchar](50) NULL,
	[applicationName] [varchar](512) NOT NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[title] ASC,
	[applicationName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Wikis_reachLevel]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Wikis] ADD  CONSTRAINT [DF_Wikis_reachLevel]  DEFAULT ((0)) FOR [reachLevel]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Wikis_editable]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Wikis] ADD  CONSTRAINT [DF_Wikis_editable]  DEFAULT ((1)) FOR [editable]
END

GO
