/****** Object:  Table [dbo].[Statistics]    Script Date: 11/17/2009 11:11:08 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Statistics]') AND type in (N'U'))
DROP TABLE [dbo].[Statistics]
GO
/****** Object:  Table [dbo].[Statistics]    Script Date: 11/17/2009 11:11:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Statistics]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Statistics](
	[TimeStamp] [datetime] NOT NULL,
	[Title] [varchar](512) NOT NULL,
	[UrlRequested] [varchar](1024) NOT NULL,
	[ID] [uniqueidentifier] NOT NULL,
	[Type] [varchar](512) NOT NULL,
	[UserName] [varchar](512) NOT NULL,
	[ApplicationName] [varchar](512) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Statistics_TimeStamp]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Statistics] ADD  CONSTRAINT [DF_Statistics_TimeStamp]  DEFAULT (getdate()) FOR [TimeStamp]
END

GO
