/****** Object:  Table [dbo].[WorkWikiItems]    Script Date: 11/17/2009 11:11:01 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WorkWikiItems]') AND type in (N'U'))
DROP TABLE [dbo].[WorkWikiItems]
GO
/****** Object:  Table [dbo].[WorkWikiItems]    Script Date: 11/17/2009 11:11:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WorkWikiItems]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WorkWikiItems](
	[trackingNumber] [uniqueidentifier] NOT NULL,
	[id] [uniqueidentifier] NOT NULL,
	[title] [varchar](256) NOT NULL,
	[description] [varchar](1024) NULL,
	[content] [varchar](max) NOT NULL,
	[author] [varchar](50) NOT NULL,
	[isVisible] [bit] NOT NULL,
	[slug] [varchar](128) NULL,
	[category] [varchar](50) NOT NULL,
	[keywords] [varchar](1024) NULL,
	[dateCreated] [datetime] NOT NULL,
	[lastUpdated] [datetime] NULL,
	[expirationDate] [datetime] NULL,
	[lastUpdatedBy] [varchar](50) NULL,
	[reachLevel] [int] NOT NULL,
	[editable] [bit] NOT NULL,
	[editor] [varchar](50) NULL,
	[departmentArea] [varchar](50) NULL,
	[status] [int] NOT NULL,
	[messages] [varchar](512) NULL,
	[authorizer] [varchar](50) NULL,
	[action] [int] NOT NULL,
	[ipAddress] [varchar](50) NOT NULL,
	[applicationName] [varchar](512) NULL,
 CONSTRAINT [PK_WorkWikiItems] PRIMARY KEY CLUSTERED 
(
	[trackingNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_WikisFactory_reachLevel]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkWikiItems] ADD  CONSTRAINT [DF_WikisFactory_reachLevel]  DEFAULT ((0)) FOR [reachLevel]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_WikisFactory_editable]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkWikiItems] ADD  CONSTRAINT [DF_WikisFactory_editable]  DEFAULT ((1)) FOR [editable]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_WorkWikiItems_status]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkWikiItems] ADD  CONSTRAINT [DF_WorkWikiItems_status]  DEFAULT ((0)) FOR [status]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_WorkWikiItems_action]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[WorkWikiItems] ADD  CONSTRAINT [DF_WorkWikiItems_action]  DEFAULT ((0)) FOR [action]
END

GO
