/****** Object:  Table [dbo].[GalleryComments]    Script Date: 11/03/2009 19:53:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GalleryComments]') AND type in (N'U'))
DROP TABLE [dbo].[GalleryComments]
GO
/****** Object:  Table [dbo].[GalleryComments]    Script Date: 11/03/2009 19:53:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GalleryComments]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GalleryComments](
	[GalleryID] [uniqueidentifier] NOT NULL,
	[ID] [uniqueidentifier] NOT NULL,
	[Author] [nvarchar](512) NOT NULL,
	[Content] [nvarchar](1024) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[Title] [nvarchar](512) NOT NULL,
	[IpAddress] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GalleryComments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** Object:  Index [IX_GalleryComments]    Script Date: 11/03/2009 19:53:28 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[GalleryComments]') AND name = N'IX_GalleryComments')
CREATE NONCLUSTERED INDEX [IX_GalleryComments] ON [dbo].[GalleryComments] 
(
	[GalleryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GalleryComments_Galleries]') AND parent_object_id = OBJECT_ID(N'[dbo].[GalleryComments]'))
ALTER TABLE [dbo].[GalleryComments]  WITH CHECK ADD  CONSTRAINT [FK_GalleryComments_Galleries] FOREIGN KEY([GalleryID])
REFERENCES [dbo].[Galleries] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GalleryComments_Galleries]') AND parent_object_id = OBJECT_ID(N'[dbo].[GalleryComments]'))
ALTER TABLE [dbo].[GalleryComments] CHECK CONSTRAINT [FK_GalleryComments_Galleries]
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_GalleryComments_dateCreated]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[GalleryComments] ADD  CONSTRAINT [DF_GalleryComments_dateCreated]  DEFAULT (getdate()) FOR [DateCreated]
END

GO
