/****** Object:  StoredProcedure [dbo].[GalleryManagement_GetGalleries]    Script Date: 11/03/2009 20:34:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GalleryManagement_GetGalleries]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GalleryManagement_GetGalleries]
GO
/****** Object:  StoredProcedure [dbo].[GalleryManagement_GetGalleries]    Script Date: 11/03/2009 20:34:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GalleryManagement_GetGalleries]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE Procedure [dbo].[GalleryManagement_GetGalleries]

        @ApplicationName NVarChar(512),
        @Id uniqueidentifier = NULL,
        @Author NVarChar(512) = NULL,
        @InitialDateCreated DateTime = NULL,
        @FinalDateCreated DateTime = NULL,
        @Description NVarChar(512) = NULL,
        @IsVisible Bit = NULL,
        @Keywords NVarChar(1024) = NULL,
        @InitialLastUpdated DateTime = NULL,
        @FinalLastUpdated DateTime = NULL,
        @LastUpdatedBy NVarChar(512) = NULL,
        @Slug NVarChar(512) = NULL,
        @Title NVarChar(512) = NULL,
        @Status NVarChar(50) = NULL,
        @FirstIndex Int,
        @LastIndex Int,
        @TotalCount Int Output

AS

SELECT @TotalCount = Count(Id)
FROM Galleries g
WHERE g.ApplicationName = @ApplicationName
	AND g.Id = ISNULL(@Id, g.Id)
	AND g.Author LIKE ISNULL(@Author, g.Author)
	AND g.dateCreated BETWEEN ISNULL(@InitialDateCreated, g.dateCreated) AND ISNULL(@FinalDateCreated, g.dateCreated)
	AND ISNULL(g.Description, '''') LIKE ISNULL(@Description, ISNULL(g.Description, ''''))
	AND g.IsVisible = ISNULL(@IsVisible, g.IsVisible)
	AND ISNULL(g.Keywords, '''') LIKE ISNULL(@Keywords, ISNULL(g.Keywords, ''''))
	AND ISNULL(g.lastUpdated, GETDATE()) BETWEEN ISNULL(@InitialLastUpdated, ISNULL(g.lastUpdated, GETDATE())) AND ISNULL(@FinalLastUpdated, ISNULL(g.lastUpdated, GETDATE()))
	AND ISNULL(g.LastUpdatedBy, '''') = ISNULL(@LastUpdatedBy, ISNULL(g.LastUpdatedBy, ''''))
	AND ISNULL(g.Slug, '''') = ISNULL(@Slug, ISNULL(g.Slug, ''''))
	AND g.Title LIKE ISNULL(@Title, g.Title)
	AND g.Status = ISNULL(@Status, g.Status)
;
WITH Ordered(RowNumber, Id) AS		
(
	SELECT ROW_NUMBER() OVER(ORDER BY g.dateCreated DESC), g.Id
	FROM Galleries g
	WHERE g.ApplicationName = @ApplicationName
	AND g.Id = ISNULL(@Id, g.Id)
	AND g.Author LIKE ISNULL(@Author, g.Author)
	AND g.dateCreated BETWEEN ISNULL(@InitialDateCreated, g.dateCreated) AND ISNULL(@FinalDateCreated, g.dateCreated)
	AND ISNULL(g.Description, '''') LIKE ISNULL(@Description, ISNULL(g.Description, ''''))
	AND g.IsVisible = ISNULL(@IsVisible, g.IsVisible)
	AND ISNULL(g.Keywords, '''') LIKE ISNULL(@Keywords, ISNULL(g.Keywords, ''''))
	AND ISNULL(g.lastUpdated, GETDATE()) BETWEEN ISNULL(@InitialLastUpdated, ISNULL(g.lastUpdated, GETDATE())) AND ISNULL(@FinalLastUpdated, ISNULL(g.lastUpdated, GETDATE()))
	AND ISNULL(g.LastUpdatedBy, '''') = ISNULL(@LastUpdatedBy, ISNULL(g.LastUpdatedBy, ''''))
	AND ISNULL(g.Slug, '''') = ISNULL(@Slug, ISNULL(g.Slug, ''''))
	AND g.Title LIKE ISNULL(@Title, g.Title)
	AND g.Status = ISNULL(@Status, g.Status)
)
SELECT Id
FROM Ordered
WHERE RowNumber BETWEEN @FirstIndex AND @LastIndex;
				
' 
END
GO
GRANT EXECUTE ON [dbo].[GalleryManagement_GetGalleries] TO [public] AS [dbo]
GO
