/****** Object:  Table [dbo].[GalleryUsers]    Script Date: 11/03/2009 19:53:33 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GalleryUsers]') AND type in (N'U'))
DROP TABLE [dbo].[GalleryUsers]
GO
/****** Object:  Table [dbo].[GalleryUsers]    Script Date: 11/03/2009 19:53:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GalleryUsers]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GalleryUsers](
	[GalleryID] [uniqueidentifier] NOT NULL,
	[UserID] [nvarchar](512) NOT NULL
) ON [PRIMARY]
END
GO

/****** Object:  Index [IX_GalleryUsers]    Script Date: 11/03/2009 19:53:33 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[GalleryUsers]') AND name = N'IX_GalleryUsers')
CREATE NONCLUSTERED INDEX [IX_GalleryUsers] ON [dbo].[GalleryUsers] 
(
	[GalleryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GalleryUsers_Galleries]') AND parent_object_id = OBJECT_ID(N'[dbo].[GalleryUsers]'))
ALTER TABLE [dbo].[GalleryUsers]  WITH CHECK ADD  CONSTRAINT [FK_GalleryUsers_Galleries] FOREIGN KEY([GalleryID])
REFERENCES [dbo].[Galleries] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_GalleryUsers_Galleries]') AND parent_object_id = OBJECT_ID(N'[dbo].[GalleryUsers]'))
ALTER TABLE [dbo].[GalleryUsers] CHECK CONSTRAINT [FK_GalleryUsers_Galleries]
GO
