/****** Object:  Table [dbo].[Modules]    Script Date: 02/17/2010 23:30:53 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Modules]') AND type in (N'U'))
DROP TABLE [dbo].[Modules]
GO
/****** Object:  Table [dbo].[Modules]    Script Date: 02/17/2010 23:30:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Modules]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Modules](
	[ID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](512) NOT NULL,
	[Content] [varbinary](max) NOT NULL,
	[ApplicationName] [nvarchar](512) NOT NULL,
	[DateCreated] [datetime] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
 CONSTRAINT [PK_Modules] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO

/****** Object:  Trigger [dbo].[Modules_Version]    Script Date: 02/17/2010 23:30:54 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS (SELECT * FROM sys.triggers WHERE object_id = OBJECT_ID(N'[dbo].[Modules_Version]'))
EXEC dbo.sp_executesql @statement = N'CREATE TRIGGER Modules_Version
ON dbo.Modules
AFTER UPDATE
AS
BEGIN
	UPDATE dbo.Modules
	SET LastUpdated = GETDATE()
	WHERE ID in (
		SELECT ID
		FROM inserted
	);
END;
' 
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Modules_DateCreated]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Modules] ADD  CONSTRAINT [DF_Modules_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Modules_LastUpdated]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Modules] ADD  CONSTRAINT [DF_Modules_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
END

GO
