/****** Object:  Table [dbo].[PagesInRoles]    Script Date: 02/17/2010 23:31:01 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PagesInRoles]') AND type in (N'U'))
DROP TABLE [dbo].[PagesInRoles]
GO
/****** Object:  Table [dbo].[PagesInRoles]    Script Date: 02/17/2010 23:31:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PagesInRoles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PagesInRoles](
	[pageId] [uniqueidentifier] NOT NULL,
	[roleName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_PagesInRoles] PRIMARY KEY CLUSTERED 
(
	[pageId] ASC,
	[roleName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PagesInRoles_Pages]') AND parent_object_id = OBJECT_ID(N'[dbo].[PagesInRoles]'))
ALTER TABLE [dbo].[PagesInRoles]  WITH CHECK ADD  CONSTRAINT [FK_PagesInRoles_Pages] FOREIGN KEY([pageId])
REFERENCES [dbo].[Pages] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PagesInRoles_Pages]') AND parent_object_id = OBJECT_ID(N'[dbo].[PagesInRoles]'))
ALTER TABLE [dbo].[PagesInRoles] CHECK CONSTRAINT [FK_PagesInRoles_Pages]
GO
