/****** Object:  Table [dbo].[Publications]    Script Date: 02/06/2010 13:25:25 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Publications]') AND type in (N'U'))
DROP TABLE [dbo].[Publications]
GO
/****** Object:  Table [dbo].[Publications]    Script Date: 02/06/2010 13:25:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Publications]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Publications](
	[ID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](512) NOT NULL,
	[Description] [nvarchar](1024) NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](512) NULL,
	[DateCreated] [datetime] NOT NULL,
	[LastUpdated] [datetime] NOT NULL,
	[Author] [nvarchar](512) NOT NULL,
	[ApplicationName] [nvarchar](512) NOT NULL,
	[IsVisible] [bit] NOT NULL,
	[RelativeLink] [nvarchar](1024) NOT NULL,
 CONSTRAINT [PK_Publications] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Publications_DateCreated]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Publications] ADD  CONSTRAINT [DF_Publications_DateCreated]  DEFAULT (getdate()) FOR [DateCreated]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Publications_LastUpdated]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Publications] ADD  CONSTRAINT [DF_Publications_LastUpdated]  DEFAULT (getdate()) FOR [LastUpdated]
END

GO
