<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<configSections>
		<sectionGroup name="galleryManagement">
			<section name="generalSettings" type="CodeFactory.Gallery.Core.Providers.GalleryManagementServiceSettings, CodeFactory.Gallery.Core" allowLocation="true" allowDefinition="Everywhere"/>
			<section name="galleryManagementSettings" type="CodeFactory.Gallery.Core.Providers.GalleryManagementSettings, CodeFactory.Gallery.Core" allowLocation="true" allowDefinition="Everywhere"/>
		</sectionGroup>
		<section name="uploadStorageSettings" type="CodeFactory.Web.Storage.UploadStorageServiceSettings, CodeFactory.Web"/>
    <section name="postOfficeSettings" type="CodeFactory.Web.PostOffice.PostOfficeSettingsHandler, CodeFactory.Web"/>
		<sectionGroup name="dataAccess">
			<section name="dataAccessSettings" type="CodeFactory.DataAccess.dataAccessSettings, CodeFactory.DataAccess"/>
			<section name="transactionHandlingSettings" type="CodeFactory.DataAccess.Transactions.transactionHandlingSettings, CodeFactory.DataAccess.Transactions"/>
		</sectionGroup>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
		</sectionGroup>
	</configSections>
	<dataAccess>
		<dataAccessSettings>
			<dataProviders>
				<add name="SqlClient" connectionType="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=b77a5c561934e089" commandType="System.Data.SqlClient.SqlCommand, System.Data, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=b77a5c561934e089" parameterType="System.Data.SqlClient.SqlParameter, System.Data, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=b77a5c561934e089" parameterDbType="System.Data.SqlDbType, System.Data, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=b77a5c561934e089" parameterDbTypeProperty="SqlDbType" dataAdapterType="System.Data.SqlClient.SqlDataAdapter, System.Data, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=b77a5c561934e089" commandBuilderType="System.Data.SqlClient.SqlCommandBuilder, System.Data, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=b77a5c561934e089" parameterNamePrefix="@"/>
			</dataProviders>
			<dataSources>
				<add name="DbGalleryProvider"
             provider="SqlClient"
             connectionStringName="SqlServices"
             dataOperationsPath=".\config\SqlClient.DbGalleryProvider.Commands.config"/>
				<add name="UploadStorageProvider"
             provider="SqlClient"
             connectionStringName="SqlServices"
             dataOperationsPath=".\config\SqlClient.UploadStorageProvider.Commands.config"/>
			</dataSources>
		</dataAccessSettings>
		<transactionHandlingSettings>
			<transactionHandler
        name="HomeGrown"
        handlerType="CodeFactory.DataAccess.TransactionHandling.HomeGrownTransactionHandler, CodeFactory.DataAccess.TransactionHandling"/>
		</transactionHandlingSettings>
	</dataAccess>
	<galleryManagement>
		<generalSettings>
			<galleries pageUrl="project.aspx" notificationTemplate="~/App_Data/galleryChanges.xsl"/>
			<thumbnail quality="true" width="154" heigth="113" imageHandlerUrl="image.axd" fileHandlerUrl="file.axd" notThumbnailAvailable="images/file.jpg" imageUrl="image.aspx" fileUrl="file.aspx"/>
		</generalSettings>
		<galleryManagementSettings defaultProvider="LinqGalleryProvider">
			<providers>
				<clear/>
				<add name="DbGalleryProvider"
             type="CodeFactory.Gallery.Core.Providers.DbGalleryProvider"
             applicationName="CodeFactory.Gallery.WebClient"/>
        <add name="LinqGalleryProvider"
             type="CodeFactory.Gallery.Core.Providers.LinqGalleryProvider"
             applicationName="CodeFactory.Gallery.WebClient"
             connectionStringName="SqlServices"/>
      </providers>
		</galleryManagementSettings>
	</galleryManagement>
	<uploadStorageSettings defaultProvider="LinqUploadStorageProvider">
		<providers>
			<add name="LinqUploadStorageProvider"
           type="CodeFactory.Web.Storage.LinqUploadStorageProvider, CodeFactory.Web"
           applicationName="CodeFactory.Gallery.WebClient"
           connectionStringName="SqlServices"
           maxFileSize="8192"
           saveContentType="application/pdf;
                            image/pjpeg;
                            image/jpeg;
                            image/gif;
                            image/bmp;
                            image/x-png;
                            text/plain"
           compressContentType="text/plain"/>
      <add name="XmlUploadStorageProvider"
           type="CodeFactory.Web.Storage.XmlUploadStorageProvider, CodeFactory.Web"
           applicationName="CodeFactory.Gallery.WebClient"
           dataStorePath="~/App_Data/Files"
           maxFileSize="8192"
           saveContentType="application/pdf;
                            image/pjpeg;
                            image/jpeg;
                            image/gif;
                            image/bmp;
                            image/x-png;
                            text/plain"
           compressContentType="text/plain"/>
		</providers>
		<thumbnail quality="true" width="154" height="113" noThumbnailAvailable="images/noThumbnailAvailable.jpg"/>
	</uploadStorageSettings>
  <postOfficeSettings defaultProvider="SmtpPostOfficeProvider">
    <providers>
      <add name="SmtpPostOfficeProvider" type="CodeFactory.Web.PostOffice.SmtpPostOfficeProvider, CodeFactory.Web"/>
    </providers>
  </postOfficeSettings>
	<appSettings/>
	<connectionStrings>
    <add name="SqlServices"
         connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Gallery.mdf;Integrated Security=True;User Instance=True"
         providerName="System.Data.SqlClient" />
    <!--
         <add name="SqlServices"
              providerName="System.Data.SqlClient"
              connectionString="Server=sql2k503.discountasp.net;Database=SQL2005_507727_codefactory;User ID=SQL2005_507727_codefactory_user;Password=histerikin;"/>
    -->
            </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<membership defaultProvider="SqlMembershipProvider">
			<providers>
				<clear/>
				<add name="SqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SqlServices" applicationName="CodeFactory.Gallery.WebClient" enablePasswordRetrieval="false" enablePasswordReset="false" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="15" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"/>
			</providers>
		</membership>
		<roleManager defaultProvider="SqlRoleProvider" enabled="true">
			<providers>
				<clear/>
				<add name="SqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="SqlServices" applicationName="CodeFactory.Gallery.WebClient"/>
			</providers>
		</roleManager>
		<authentication mode="Forms">
			<forms loginUrl="authentication\login.aspx" defaultUrl="default.aspx" name=".AUTCUBIKFRMS"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />
    <httpHandlers>
			<add verb="*" path="file.axd" type="CodeFactory.Gallery.Core.Web.HttpHandlers.FileHandler, CodeFactory.Gallery.Core" validate="false"/>
			<add verb="*" path="image.axd" type="CodeFactory.Gallery.Core.Web.HttpHandlers.ImageHandler, CodeFactory.Gallery.Core" validate="false"/>
			<add verb="*" path="gallery.axd" type="CodeFactory.Gallery.Core.Web.HttpHandlers.GalleryHandler, CodeFactory.Gallery.Core" validate="false"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpHandlers>
		<!--		
		<trace enabled="true" writeToDiagnosticsTrace="true"/>
		-->
		<pages>
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp from="galleries@codefactory.com.mx">
				<network userName="galleries@codefactory.com.mx" host="smtp.codefactory.com.mx" password="GalL3ri35" defaultCredentials="true"/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.diagnostics>
		<trace autoflush="true" indentsize="5">
			<listeners>
				<add name="OutputListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="output.txt"/>
				<remove name="Default"/>
			</listeners>
		</trace>
	</system.diagnostics>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="GalleryHandler" verb="GET" path="gallery.axd" type="CodeFactory.Gallery.Core.Web.HttpHandlers.GalleryHandler, CodeFactory.Gallery.Core"/>
      <add name="FileHandler" verb="GET" path="file.axd" type="CodeFactory.Gallery.Core.Web.HttpHandlers.FileHandler, CodeFactory.Gallery.Core"/>
      <add name="ImageHandler" verb="GET" path="image.axd" type="CodeFactory.Gallery.Core.Web.HttpHandlers.ImageHandler, CodeFactory.Gallery.Core"/>
    </handlers>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
