div#__layout.twoColumnsB div#__header
{
    display: block;
    float: none; 
    width: 955px;
}

div#__layout.twoColumnsB div#__main
{
    display: block; 
    float: none; 
}

div#__layout.twoColumnsB div#__main div#__left
{
    display: block;
    float: left; 
    width: 700px;
}

div#__layout.twoColumnsB div#__main div#__right
{
    display: block;
    float: left; 
    width: 255px;
}

div#__layout.twoColumnsB div#__footer
{
    display: block; 
    float: none; 
    width: 955px;
}

