<?xml version="1.0"?>
<configuration>
	<configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
    <section name="postOfficeSettings" type="CodeFactory.Web.PostOffice.PostOfficeSettingsHandler, CodeFactory.Web"/>
    <section name="uploadStorageSettings" type="CodeFactory.Web.Storage.UploadStorageServiceSettings, CodeFactory.Web"/>
    <section name="WikiSettings" type="CodeFactory.Wiki.WikiSettings, CodeFactory.Wiki"/>
    <sectionGroup name="dataAccess">
      <section name="dataAccessSettings" type="CodeFactory.DataAccess.dataAccessSettings, CodeFactory.DataAccess"/>
      <section name="transactionHandlingSettings" type="CodeFactory.DataAccess.Transactions.transactionHandlingSettings, CodeFactory.DataAccess.Transactions"/>
    </sectionGroup>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <dataAccess>
    <dataAccessSettings>
      <dataProviders>
        <add name="SqlClient"
                      connectionType="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                      commandType="System.Data.SqlClient.SqlCommand, System.Data, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                      parameterType="System.Data.SqlClient.SqlParameter, System.Data, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                      parameterDbType="System.Data.SqlDbType, System.Data, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                      parameterDbTypeProperty="SqlDbType"
                      dataAdapterType="System.Data.SqlClient.SqlDataAdapter, System.Data, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                      commandBuilderType="System.Data.SqlClient.SqlCommandBuilder, System.Data, Version=2.0.50727.42, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                      parameterNamePrefix="@"/>
      </dataProviders>
      <dataSources>
        <add name="WikiService"
             provider="SqlClient"
             connectionStringName="SqlServices"
             dataOperationsPath=".\config\SqlClient.WikiService.Commands.config"/>
        <add name="StatisticsTrace"
             provider="SqlClient"
             connectionStringName="SqlServices"
             dataOperationsPath=".\config\SqlClient.StatisticsTrace.Commands.config"/>
      </dataSources>
    </dataAccessSettings>
    <transactionHandlingSettings>
      <transactionHandler
        name="HomeGrown"
        handlerType="CodeFactory.DataAccess.TransactionHandling.HomeGrownTransactionHandler, CodeFactory.DataAccess.TransactionHandling"/>
    </transactionHandlingSettings>
  </dataAccess>
  <WikiSettings defaultProvider="LinqWikiProvider">
    <providers>
      <add name="LinqWikiProvider"
           type="CodeFactory.Wiki.Providers.LinqWikiProvider, CodeFactory.Wiki"
           connectionStringName="SqlServices"
           applicationName="CodeFactory.Wiki"
           defaultStartTime="08:00"
           defaultEndTime="17:30"
           timeToExpire="0:05"
           includeWeekends="false"
           requestSchemaPath="schemas/request.xsl"
           responseSchemaPath="schemas/response.xsl"/>
    </providers>
    <restrictedSlugs>
      <add slug="default"/>
      <add slug="bienvenida"/>
      <add slug="contactanos"/>
      <add slug="como-colaborar"/>
      <add slug="primeros-pasos"/>
      <add slug="tutorial"/>
      <add slug="NotFound"/>
    </restrictedSlugs>
  </WikiSettings>
  <uploadStorageSettings defaultProvider="XmlUploadStorageProvider">
    <providers>
      <add name="XmlUploadStorageProvider"
           type="CodeFactory.Web.Storage.XmlUploadStorageProvider, CodeFactory.Web"
           applicationName="CodeFactory.Gallery.WebClient"
           dataStorePath="~/App_Data/Files"
           maxFileSize="8192"
           saveContentType="application/msword;
              application/vnd.ms-excel;
              application/vnd.ms-powerpoint;      
              application/octet-stream;      
              application/x-zip-compressed;      
              application/pdf;
              image/pjpeg;      
              image/jpeg;      
              image/gif;      
              image/bmp;      
              image/x-png;      
              text/plain;
              video/avi"
           compressContentType="text/plain"/>
    </providers>
    <thumbnail quality="true" width="154" height="113" noThumbnailAvailable="images/noThumbnailAvailable.jpg"/>
  </uploadStorageSettings>
  <postOfficeSettings defaultProvider="SmtpPostOfficeProvider">
    <providers>
      <add name="SmtpPostOfficeProvider" type="CodeFactory.Web.PostOffice.SmtpPostOfficeProvider, CodeFactory.Web"/>
    </providers>
  </postOfficeSettings>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General">
    <categorySources>
      <add name="General" switchValue="All">
        <listeners>
          <add name="Event Log Destination"/>
        </listeners>
      </add>
      <add name="Bitacora de consultas" switchValue="All">
        <listeners>
          <add name="Statistic Trace Listener"/>
        </listeners>
      </add>
    </categorySources>
    <listeners>
      <add name="Event Log Destination" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" source="Logging Quick Start" formatter="Text Formatter" machineName="."/>
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" traceOutputOptions="None" type="CodeFactory.Wiki.Statistics.TraceListener, CodeFactory.Wiki" name="Statistic Trace Listener" initializeData=""/>
    </listeners>
    <formatters>
      <add name="Text Formatter" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}"/>
    </formatters>
    <specialSources>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Destination"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <connectionStrings>
    <add name="SqlServices"
         connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Wiki.mdf;Integrated Security=True;User Instance=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="~/authentication/login.aspx" defaultUrl="~/default.aspx" name=".AUTCODFCTRY" slidingExpiration="false">
				<credentials passwordFormat="Clear">
					<user name="Admin" password="admin"/>
				</credentials>
			</forms>
		</authentication>
		<authorization>
      <allow users="*"/>
      <allow users="?"/>
		</authorization>
    <customErrors mode="Off"/>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
    <!--
		<customErrors mode="On">
			<error statusCode="404" redirect="NotFound.aspx"/>
		</customErrors>
    -->
    <membership defaultProvider="XmlMembershipProvider">
      <providers>
        <clear/>
        <add name="SqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="SqlServices"
             applicationName="CodeFactory.Wiki"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="true"
             requiresUniqueEmail="true"
             passwordFormat="Hashed"
             maxInvalidPasswordAttempts="15"
             minRequiredPasswordLength="7"
             minRequiredNonalphanumericCharacters="0"
             passwordAttemptWindow="10"/>
        <add name="XmlMembershipProvider" type="CodeFactory.Web.Security.XmlMembershipProvider"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="XmlRoleProvider">
      <providers>
        <clear/>
        <add name="SqlRoleProvider"
             type="System.Web.Security.SqlRoleProvider"
             connectionStringName="SqlServices"
             applicationName="CodeFactory.Wiki"/>
        <add name="XmlRoleProvider"
             type="CodeFactory.Web.Security.XmlRoleProvider, CodeFactory.Web"/>
      </providers>
    </roleManager>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="image.axd" type="CodeFactory.Web.HttpHandlers.ImageHandler, CodeFactory.Web" validate="false" />
			<add verb="*" path="file.axd" type="CodeFactory.Web.HttpHandlers.FileHandler, CodeFactory.Web" validate="false"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
		<httpModules>
      <add name="ScriptModule"
           type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="UrlRewrite" 
           type="CodeFactory.Wiki.HttpModules.UrlRewrite, CodeFactory.Wiki"/>
    </httpModules>
		<httpRuntime maxRequestLength="24576"/>
		<trace enabled="false" writeToDiagnosticsTrace="true" traceMode="SortByTime"/>
    <sessionState timeout="60"/>
	</system.web>
  <system.net>
    <mailSettings>
      <smtp from="galleries@codefactory.com.mx">
        <network userName="galleries@codefactory.com.mx" host="smtp.codefactory.com.mx" password="GalL3ri35" defaultCredentials="true"/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="OptionInfer" value="true"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="UrlRewrite" type="CodeFactory.Wiki.HttpModules.UrlRewrite, CodeFactory.Wiki"/>
		</modules>
		<handlers>
			<add name="UploadStorageImageHandler" verb="*" path="image.axd" type="CodeFactory.Web.HttpHandlers.ImageHandler, CodeFactory.Web"/>
			<add name="UploadStorageFileHandler" verb="*" path="file.axd" type="CodeFactory.Web.HttpHandlers.FileHandler, CodeFactory.Web"/>
		</handlers>
	</system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
